.content{
    display: flex;
    position: relative;
    top: 100px;
    left: 100px;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card_title{
    position: absolute;
    font-size: 24px;
    top: 15px;
    left: 15px;
}
.card_body{
    position: absolute;
    top: 50px;
    left: 25px;
    max-width: 250px;
    background-color: wheat;

}
.btn{
    border-radius: 5px;
    border: 0;
    background-color: rgba(0,91,150,0);
    margin: 5px;
}
.btn:hover{
    border-radius: 5px;
    border: 0;
    background-color: rgba(0,91,150,0.3);
}
.more_btn{
    position: absolute;
    right: 10px;
    top: 10px; 
    height: 35px;
    width: 35px;
    background-color: rgba(0,91,150,0);
    border: 0;
}
.more_btn:hover{
    height: 35px;
    background-color: rgba(0,91,150,0);
    cursor: pointer; 
}
.edit_btn{
    height: 35px;
    width: 35px;
}
.edit_btn:hover{
    height: 35px;
    cursor: pointer;
}
.trash_btn{
    /* position: absolute; */
    height: 35px;
    cursor: pointer;
}
.more_items{
    position: absolute;
    top:0px;
    left: 300px;
    background-color: rgba(0,91,150,0.5);
    border-radius: 10px;
    z-index: 1; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
}
.more_items ul{
    /* padding: 5px; */
    text-transform: capitalize;
    margin: 5px;
}