.title-box{
    display: flex;
    background-color: rgb(0,91,150);
    height: 50px;
    border-radius: 10px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;   
}
.title{
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-size: 24px;
}
.add_card, 
.login{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 0;
    text-transform: capitalize;
}
.add_card:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}